body {
    background-color: rgb(196, 166, 126);
   
}









/* task 2 */
#div {
    width: 400px;
    height: 200px;
    background-color: green;
    margin: 0 auto;
}


/* task 2 end  */
 


